@import url("https://fonts.googleapis.com/css2?família=Lilita+Um&família=Playpen+Sans:wght@300; 400; 800&família=Poppins:wght@300; 400; 500; 600; 700; 800; 900&family=Roboto+Flex:opsz,wght@8.. 144,400; 8..144.800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: url("data:image/x-icon; base64, AAACAAEAICAAAAAABgCoEAAAFgAAACgAAAAgAAAAQAAAAAEAIAAAAAAAABAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABrSCJza0gic2tIInMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAa0gic2tIIrRrSCK0a0gitGtIInMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAGtIInNrSCK0/4QA//+EAP//hAD/ a0gitGtIInMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAa0gic2tIInMAAAAAAAAAAAAAAABrSCJza0gitP+EAP9rOwf/AAAA/2s7B///hAD/a0gitGtIInMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAD/hAD/a0gitGtIInMAAAAAAAAAAGtIInNrSCK0/4QA/2s7B/8AAAD/azsH//+EAP9rSCK0a0gicwAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAP+EAP//hAD/a0gitGtIInNrSCJza0gitP+EAP9rOwf/AAAA/2s7B///hAD/a0gitGtIInMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA/4QA/3NACf//hAD/a0gitGtIInNrSCK0/4QA/2s7B/8AAAD/azsH//+EAP9rSCK0a0gicwAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAD/hAD/c0AJ/zMaAP//hAD/a0gitP+EAP9rOwf/azsH/wAAAP9rOwf//4QA/2tIIrRrSCJzAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAP+EAP9zQAn/MxoA/wAAAP//hAD//4QA/2s7B/8AAAD/azsH//+EAP9rSCK0a0gic2tIInNrSCJza0gic2tIInMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA/4QA/3NACf8zGgD/AAAA/wAAAP8AAAD/AAAA/wAAAP9rOwf//4QA/2tIIrRrSCK0a0gitGtIIrRrSCK0a0gitGtIIrQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAD/hAD/c0AJ/zMaAP8AAAD/AAAA/wAAAP8AAAD/AAAA/2s7B///hAD//4QA//+EAP//hAD//4QA//+EAP//hAD//4QA/ wAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAP+EAP9zQAn/MxoA/wAAAP8AAAD/AAAA/wAAAP8AAAD/AAAA/wAAAP8AAAD/AAAA/wAAAP8zGgD/c0AJ//+EAP8AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA/4QA/3NACf8zGgD/AAAA/wAAAP8AAAD/AAAA/wAAAP8AAAD/AAAA/wAAAP8AAAD/MxoA/3NACf//hAD/a0gicwAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAD/hAD/c0AJ/zMaAP8AAAD/AAAA/ wAAAP8AAAD/AAAA/wAAAP8AAAD/AAAA/zMaAP9zQAn//4QA/2tIInMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAP+EAP9zQAn/MxoA/wAAAP8AAAD/AAAA/wAAAP8AAAD/AAAA/wAAAP8zGgD/c0AJ//+EAP9rSCJzAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA/4QA/2s7B/8zGgD/AAAA/wAAAP8AAAD/AAAA/wAAAP8AAAD/MxoA/3NACf//hAD/a0gicwAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAD/hAD/c0AJ/zMaAP8AAAD/AAAA/wAAAP8AAAD/AAAA/zMaAP9zQAn//4QA/ 2tIInMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAP+EAP9zQAn/MxoA/wAAAP8AAAD/AAAA/wAAAP8zGgD/c0AJ//+EAP9rSCJzAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA/4QA/3NACf8zGgD/AAAA/wAAAP8AAAD/MxoA/3NACf//hAD/ a0gicwAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAD/hAD/c0AJ/zMaAP8AAAD/AAAA/zMaAP9zQAn//4QA/2tIInMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAP+EAP9zQAn/MxoA/wAAAP8zGgD/c0AJ//+EAP9rSCJzAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA/4QA/3NACf8zGgD/MxoA/3NACf//hAD/a0gicwAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAD/hAD/c0AJ/zMaAP9zQAn//4QA/ 2tIInMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAP+EAP9zQAn/c0AJ//+EAP9rSCJzAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA/4QA/3NACf//hAD/ a0gicwAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAD/hAD//4QA/2tIInMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAP+EAP8AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA////4P///8B///PAf//xgP//8ID///AA///wAf//8AAH//AAB//wAA//8AAf//AAP//wAH//8AD///AB///wA///8Af///AP///wH///8D////B///w/8f////P///3///8="),
    auto;
}

header {
  height: 187px;
  background: #1e1e1e;
  max-width: 100%;
}

header img {
  width: 100%;
  height: auto;
}

.navegacao {
  text-align: center;
}

.navegacao a {
  text-decoration: none;
  color: #fff;
  display: inline-block;
  font-weight: 400;
  font-size: 32px;
  font-family: "Roboto", sans-serif;
  margin: 75px;
  cursor: pointer;
}

section .prox,
.filmes {
  display: inline-block;
}

section {
  display: inline-block;
  text-align: center;
  align-items: center;
  width: 100%;
}

.container {
  margin: 36rem 0px 2rem 0px;
}

.container2 {
  margin: 1rem 0px 2rem 0px;
}

.prox img {
  display: inline;
  margin: 0px 0px 18rem 0px;
}

.filmes p {
  font-family: "Roboto", sans-serif;
  font-weight: 800;
  font-size: 25px;
  cursor: pointer;
}
.filmes p:hover {
  color: #5c06ec;
}
footer {
  display: inline-block;
  background-color: #1e1e1e;
  width: 100%;
  height: 12rem;
  text-align: center;
}

footer p {
  color: #fff;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  display: inline;
  margin: 40px 10px 0px 20px;
}

footer img {
  display: inline-block;
  width: 45px;
  margin-right: 5px;
  margin-top: 60px;
}
